<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Chart Practice</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

  <div class="container-fluid">
    <nav class="navbar navbar-light">
      <a class="navbar-brand">
        <img src="/images/logo.jpeg" height="100" alt="">
      </a>
    </nav>

    <div class="row">
      <div class="col-lg-6 vertical-center">
        <div class="container text-center">

  <form action="/" method="post">
    <div class="row">
      <div class="col">
        <div class="form-group">
            <input type="text" class="form-control" name="L500" placeholder="L500" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="L1k" placeholder="L1k" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="L2k" placeholder="L2k" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="L3k" placeholder="L3k" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="L4k" placeholder="L4k" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="L6k" placeholder="L6k" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="L8k" placeholder="L8k" required>
          </div>
      </div>
      <div class="col">
        <div class="form-group">
          <input type="text" class="form-control" name="R500" placeholder="R500" required>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="R1k" placeholder="R1k" required>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="R2k" placeholder="R2k" required>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="R3k" placeholder="R3k" required>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="R4k" placeholder="R4k" required>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="R6k" placeholder="R6k" required>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="R8k" placeholder="R8k" required>
        </div>

</div>
    </div>

    <div class="row">
<div class="container text-center">
    <button type="submit" class="btn btn-outline-danger btn-block">Quality Check</button>
</div>
</div>
  </form>
</div>
</div>

      <div class="col-lg-6">

        <div class="chart-container">

          <canvas id="myChart"></canvas>

          <script>

            var ctx = document.getElementById('myChart');
            var myChart = new Chart(ctx, {
              type: 'line',
              data: {
                labels: ['500k', '1k', '2k', '3k', '4k', '6k', '8k'],
                datasets: [{
                  label: 'Left',
                  data: <%- JSON.stringify(data_left); %>,
                  borderWidth: 1,
                  pointStyle: "crossRot",
                  showLine: true,
                  fill: false,
                  borderColor: "blue",
                  lineTension: 0,
                  pointRadius: 6
                }, {
                  label: 'Right',
                  data: <%- JSON.stringify(data_right); %>,
                  borderWidth: 1,
                  pointStyle: "circle",
                  showLine: true,
                  fill: false,
                  borderColor: "red",
                  lineTension: 0,
                  pointRadius: 6

                }]
              },
              options: {
                title: {
                  text: "<%- text %>",
                  display: <%= display %>,
                  fontSize: 18,
                  fontColor: "<%- colour %>",
                  fontStyle: "normal",
                },
                legend: {
                  display: false,
                },
                zeroLineColor: 'rgba(0, 0, 0, 0.1)',
                aspectRatio: 1,
                scales: {
                  yAxes: [{
                    ticks: {
                      beginAtZero: true,
                      min: -20,
                      max: 120,
                      reverse: true,
                      fontSize: 14,
                    }
                  }],
                  xAxes: [{
                    ticks: {
                      fontSize: 14,
                      //lineHeight: 2,
                    }
                  }],
                }
              }
            });
          </script>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

</html>
