.navbar {
  padding: 0;
}

/* .row {
  padding-top: 5%
}*/

.navbar-brand {
  padding-top: 5%;
}

.chart-container {
  margin: auto;
  position: relative;
}

.form-container {
  margin: auto;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.container-fluid {
  padding-left: 15%;
  padding-right: 15%;
}

.col-lg-6 {
  margin-bottom: 10%;
}

.btn-outline-danger {
  margin-top: 5%
}
